* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: whitesmoke;
}

.header {
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    /* margin-bottom: auto; */

}
.header h1 {
    background-color: lightblue;
    font-size: 40px;
    text-align: center;
    color: black;
    
}

.header ul {
    background-color: lightblue;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.header a {
    background-color: lightblue;
}

.container {
    margin: 10px 20px;

}
.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}


.flex-container h2 {
  text-decoration: underline;
  
}

.flex ul {
    display:flex;
    flex-direction: row;
}

.contact h3 {
    margin-top: 50px;
    text-align: center;
}

.contact ul {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.about {
    margin-left: 20px;
    text-align: center;
    /* flex: 0 0 33%; */
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    border: black;
    border-style: hidden;
    margin-top: 50px;
    
}

.flexbox {
    

}

#text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;

}



#footer {
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

@media screen and 
    
}